[mysqld]
# 设置默认的身份验证插件
default_authentication_plugin=caching_sha2_password

# 设置服务器字符集和排序规则
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# 对于TIMESTAMP列，默认情况下启用explicit_defaults_for_timestamp系统变量
explicit_defaults_for_timestamp=true

# 其他推荐配置
max_connections = 200
innodb_buffer_pool_size = 1G  # 根据你的服务器内存大小调整此值
innodb_log_file_size = 256M
innodb_flush_method = O_DIRECT

# 日志配置
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
long_query_time = 2

# 备份和恢复相关的配置
innodb_file_per_table = 1

# 安全相关配置
skip_name_resolve